.container {
    display: grid;
    grid: 
    ". header ." max-content
    "arrowL card arrowR" 50%
    ". indicator ." max-content
    / 1fr 75% 1fr;
    /* grid-template-columns: 1fr 75% 1fr;
    grid-template-rows: max-content; */
    align-items: start;
}

.card {
    height: 100%;
    grid-area: card;
    aspect-ratio: 5 / 7;
    display: grid;
    align-items: center;
}

.hide {
    transition: transform 1s cubic-bezier(0, .92, .87, 1), opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-50%);
}

.header {
    grid-area: header;
    grid-column: 2;
    font-size: 2rem;
    margin: 20px 0px;
    cursor: default;
}

.display {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 40px;
}

.pageIndicator {
    grid-area: indicator;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    align-items: flex-start;
}

.arrowL {
    grid-area: arrowL;
    border-left: 2px solid white;
}

.arrowR {
    grid-area: arrowR;
    border-right: 2px solid white;
}