.container {
    display: grid;
    grid:
        ". header ." max-content "arrowL card arrowR" 50% ". indicator ." max-content / 1fr 75% 1fr;
    /* grid-template-columns: 1fr 75% 1fr;
    grid-template-rows: max-content; */
    align-items: start;
}

.activeIndicator {
    color: #00C6BC;
}

.scrollContent {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    overflow: hidden;
}

.scrollContent>div {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 0.25s ease, opacity 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollContent div[data-state="current"] {
    transform: translateX(0);
}

.scrollContent div[data-state="left"] {
    transform: translateX(-100%);
}

.scrollContent div[data-state="right"] {
    transform: translateX(100%);
}

.scrollContent div[data-disabletransition="true"] {
    transition: none;
}

.card {
    height: 100%;
    grid-area: card;
    aspect-ratio: 5 / 7;
    display: grid;
    align-items: center;
}

.hide {
    transition: transform 1s cubic-bezier(0, .92, .87, 1), opacity 0.3s ease-in-out, transform 0.4s ease;
    opacity: 0;
    transform: translateY(-50%);
}

.header {
    grid-area: header;
    grid-column: 2;
    font-size: 2rem;
    margin: 20px 0px;
    cursor: default;
}

.header div {
    transition-delay: 0.1s;
}

.display {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex:hover {
    cursor: pointer;
}

.flex .icon {
    color: #00C6BC;
}

.icon {
    font-size: 40px;
}

.pageIndicator {
    grid-area: indicator;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    align-items: flex-start;
}

.arrowL {
    grid-area: arrowL;
    border-left: 2px solid white;
}

.arrowL svg {
    transition: transform 0.3s ease;
}

.arrowL:hover svg {
    transform: translateX(-25%);
}

.arrowR {
    grid-area: arrowR;
    border-right: 2px solid white;
}

.arrowR svg {
    transition: transform 0.3s ease;
}

.arrowR:hover svg {
    transform: translateX(25%);
}