.container {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
    align-items: center;
}

.card {
    width: fit-content;
    aspect-ratio: 5 / 7;
    display: grid;
    align-items: center;
    grid-template-rows: min-content 1fr min-content;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 40px;
}

.pageIndicator {
    display: flex;
    justify-content: center;
    column-gap: 10%;
    align-items: flex-start;
}