.container {
    display: grid;
    grid:
        ". header ." max-content "arrowL card arrowR" 70% ". indicator ." max-content / 1fr 75% 1fr;
    /* grid-template-columns: 1fr 75% 1fr;
    grid-template-rows: max-content; */
    align-items: start;
}

.activeIndicator {
    color: #00C6BC;
}

.scrollContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.scrollContent>div {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: transform 0.25s ease, opacity 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0px 5vw;
}

.scrollContent div[data-state="current"] {
    transform: translateX(0);
}

.scrollContent div[data-state="left"] {
    transform: translateX(-100%);
}

.scrollContent div[data-state="right"] {
    transform: translateX(100%);
}

.scrollContent div[data-disabletransition="true"] {
    transition: none;
}

.headerContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.headerContent>div {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: transform 0.25s ease, opacity 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0px 10px;
}

.headerContent div[data-state="current"] {
    transform: translateX(0);
}

.headerContent div[data-state="left"] {
    transform: translateX(-100%);
}

.headerContent div[data-state="right"] {
    transform: translateX(100%);
}

.headerContent div[data-disabletransition="true"] {
    transition: none;
}

.card {
    height: 100%;
    grid-area: card;
    aspect-ratio: 5 / 7;
    display: grid;
    align-items: center;
}

.card div {
    font-size: 1.15rem;
}

.hide {
    transition: transform 1s cubic-bezier(0, .92, .87, 1), opacity 0.3s ease-in-out, transform 0.4s ease;
    opacity: 0;
    transform: translateY(-50%);
}

.header {
    grid-area: header;
    grid-column: 2;
    font-size: 2rem;
    width: 100%;
    height: 75px;
    cursor: default;
    color: #00C6BC;
    display: flex;
}

.header div {
    transition-delay: 0.1s;
}

.highlight {
    color: #00C6BC;
}

.display {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex:hover {
    cursor: pointer;
}

.flex .icon {
    color: #00C6BC;
}

.icon {
    font-size: 40px;
}

.pageIndicator {
    grid-area: indicator;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    align-items: flex-start;
}

.arrowL {
    grid-area: arrowL;
    border-left: 2px solid white;
}

.arrowL svg {
    transition: transform 0.3s ease;
}

.arrowL:hover svg {
    transform: translateX(-25%);
}

.arrowR {
    grid-area: arrowR;
    border-right: 2px solid white;
}

.arrowR svg {
    transition: transform 0.3s ease;
}

.arrowR:hover svg {
    transform: translateX(25%);
}

@media screen and (max-width: 1550px) {
    .card div {
        font-size: 0.85rem;
    }

    .header {
        font-size: 1.5rem;
        cursor: default;
        color: #00C6BC;
    }

}

@media screen and (max-width: 1100px) {
    .card div {
        font-size: 1.5rem;
    }

    .header {
        font-size: 2rem;
        cursor: default;
        color: #00C6BC;
    }

    .arrowL,
    .arrowR {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    .card div {
        font-size: 1rem;
    }


    .scrollContent>div {
        line-height: 20px;
        height: 300px;
    }

    .header {
        font-size: 1.5rem;
        cursor: default;
        color: #00C6BC;
    }
}