.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #00C6BC;
    font-size: 3rem;
}

.header span {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.sendInfo {
    display: flex;
    flex-direction: column;
    color: #00C6BC;
    align-items: center;
    height: max-content;
    margin: 20px 0;
    justify-content: center;
}

.forms {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    row-gap: 20px;
    width: 70%;
    color: #00C6BC;
    background-color: #02162e;
    color: #e2f1ff;
}

.forms input {
    padding: 5px 10px;
    height: 10%;
    background-color: #021225;
    border-radius: 5px;
    border: 1px solid #02162e;
}

.forms textarea {
    padding: 5px 10px;
    background-color: #021225;
}

.buttons {
    width: 100%;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    color: #e2f1ff;
}

.buttons div {
    transition: transform 0.2s cubic-bezier(0, .92, .87, 1), color 0.2s cubic-bezier(0, .92, .87, 1), border 0.2s cubic-bezier(0, .92, .87, 1);
    cursor: pointer;
    display: flex;
    column-gap: 5px;
    align-items: center;
    padding: 12px;
    border: 1px solid #e2f1ff;
    border-radius: 5px;
}

.buttons div:hover {
    color: #00C6BC;
    transform: scale(1.05);
    border-color: #00C6BC;
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 1.5rem
    }
}