.container {
    height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: whitesmoke;
    font-weight: bolder;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.container:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    background-image: var(--url);
  }

.title {
    opacity: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other {
    display: flex;
    column-gap: 40px;
}

.iconContainer {
    outline: 1px solid green;
    height: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-out;
    box-sizing: border-box;
}

.iconContainer:hover {
    transform: scale(1.1);
}

.iconContainer span {
    font-size: 1.2rem;
    font-weight: 300;
}
