.container {
    height: 450px;
    display: flex;
    box-sizing: border-box;
    margin: 20px 0px;
    width: 100%;
}

.information {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: 1px solid green;
    margin-left: 15%;
    width: 50%;
    display: grid;
    place-items: center;
    position: relative;
}

.card {
    height: 50%;
    position: absolute;
    width: 40%;
    right: -25%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
    outline: 1px solid red;
}
