.container {
    background-color: #02162e;
    height: max-content;
    display: grid;
    color: #e2f1ff;
    grid-template-rows: max-content 1fr;
    text-align: center;
    cursor: default;
}

.myInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInfo span:nth-child(1) {
    font-size: 4rem;
}

.myInfo span:nth-child(2) {
    font-size: 2rem;
}

.additionalInfo {
    height: fit-content;
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.additionalInfo div {
    width: 100%;
}