.navContainer {
    position: relative;
    z-index: 1;
}

.navContent {
    background-color: #13276F;
    box-shadow: rgba(20, 20, 20, 0.2) 0px 7px 29px 0px;
    height: 100vh;
    position: sticky;
    top: 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navContent span {
    color: whitesmoke;
    outline: 1px solid green;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    margin: 10px 0px;
    transition: opacity 0.4s cubic-bezier(.05, .45, .13, .93), transform 0.4s cubic-bezier(.05, .45, .13, .93);
    font-size: 1.2rem;
    cursor: pointer;
}

.navContent:hover span {
    opacity: 0.5;
    transform: scale(0.90);
}

.navContent:hover span:hover {
    opacity: 1;
    transform: scale(0.97);
}