.container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: #02162e;
    position: relative;
}

.infoContainer {
    font-weight: bolder;
    color: #02162e;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    z-index: 15;
    display: flex;
    flex-direction: column;
}

.arrow {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    animation-name: MoveUpDown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.name {
    font-size: 6rem;
}

.position {
    font-size: 2rem;
    font-weight: 300;
    color: #004260;
}

.all {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg-1 {
    background-image: url("../images/1.png");
    z-index: 10;
}

.bg-2 {
    background-image: url("../images/2.png");
    z-index: 8;
}

.bg-3 {
    background-image: url("../images/3.png");
    z-index: 7;
}

.bg-4 {
    background-image: url("../images/4.png");
    z-index: 6;
}

.bg-5 {
    background-image: url("../images/5.png");
    z-index: 5;
}

.bg-6 {
    background-image: url("../images/6.png");
    z-index: 4;
}

.bg-7 {
    background-image: url("../images/7.png");
    z-index: 3;
}

.bg-8 {
    background-image: url("../images/8.png");
    z-index: 2;
}

.bg-birds {
    background-image: url("../images/birds.png");
    z-index: 4;
}

.bg-gradient {
    background-image: url("../images/bg.png");
    z-index: 1;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(50%);
    }
}

@media screen and (max-width: 1000px) {
    .infoContainer {
        left: 0%;
        z-index: 6;
        text-align: start;
    }
}

@media screen and (max-width: 1000px) {
    .name {
        font-size: 2.8rem;
    }

    .position {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .all {
        transform: translateY(0%);
    }
}