.container {
    background-color: #021225;
    border-radius: 5px;
    color: #e2f1ff;
    text-align: center;
    padding: 50px 25px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    transition: transform 1s cubic-bezier(0, .92, .87, 1), opacity 0.4s ease;
    opacity: 0;
    transform: translateX(-50%);
}

.active {
    opacity: 1;
    transform: translateX(0);
}

.content {
    overflow: hidden;
    display: grid;
    grid:
        "images tech info" max-content / 2fr min-content 1fr;
}

.projectName {
    padding: 10px 0px;
    text-align: left;
}

.projectName div:nth-child(1) {
    font-size: 1.5rem;
    color: #00C6BC;
}

.projectName div:nth-child(2) {
    font-size: 0.9rem;
}

.scrollContainer {
    aspect-ratio: 16 / 9;
    width: 100%;
    grid-area: images;
    display: grid;
    grid:
        "arrowL . arrowR" 1fr ". indicator ."
        / 1fr 80% 1fr;
    position: relative;
}

.indicator {
    z-index: 1;
    grid-area: indicator;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.activeIndicator {
    color: #00C6BC;
}

.images {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.images>div {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.25s ease, opacity 0.25s ease;
}

.images:hover>div {
    opacity: 0.7;
}

.arrow:hover~.images>div {
    opacity: 0.7;
}

.arrow:hover~.indicator {
    opacity: 1;
}

.images div[data-state="current"] {
    transform: translateX(0);
}

.images div[data-state="left"] {
    transform: translateX(-100%);
}

.images div[data-state="right"] {
    transform: translateX(100%);
}

.images div[data-disabletransition="true"] {
    transition: none;
}

.images:nth-child(1) {
    color: green;
}

.flex {
    display: flex;
}

.arrow {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover {
    cursor: pointer;
}

.arrow svg {
    font-size: 3rem;
    opacity: 0.7;
    transition: color 0.3s cubic-bezier(0, .92, .87, 1), transform 0.3s cubic-bezier(0, .92, .87, 1);
}

.arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0, .92, .87, 1);
    position: absolute;
}

.left {
    left: 0;
}

.left:hover>svg {
    opacity: 1;
    color: #00C6BC;
    transform: translateX(-5px);
}

.left::before {
    background-image: linear-gradient(to right,
            hsla(0, 0%, 0%, 0.76) 0%,
            hsla(0, 0%, 0%, 0.738) 19%,
            hsla(0, 0%, 0%, 0.541) 34%,
            hsla(0, 0%, 0%, 0.382) 47%,
            hsla(0, 0%, 0%, 0.278) 56.5%,
            hsla(0, 0%, 0%, 0.194) 65%,
            hsla(0, 0%, 0%, 0.126) 73%,
            hsla(0, 0%, 0%, 0.075) 80.2%,
            hsla(0, 0%, 0%, 0.042) 86.1%,
            hsla(0, 0%, 0%, 0.021) 91%,
            hsla(0, 0%, 0%, 0.008) 95.2%,
            hsla(0, 0%, 0%, 0.002) 98.2%,
            hsla(0, 0%, 0%, 0) 100%);
    right: 100%;
}

.left:hover::before {
    right: 20%;
}

.right {
    right: 0;
}

.right:hover>svg {
    opacity: 1;
    color: #00C6BC;
    transform: translateX(5px);
}

.right::before {
    background-image: linear-gradient(to left,
            hsla(0, 0%, 0%, 0.76) 0%,
            hsla(0, 0%, 0%, 0.738) 19%,
            hsla(0, 0%, 0%, 0.541) 34%,
            hsla(0, 0%, 0%, 0.382) 47%,
            hsla(0, 0%, 0%, 0.278) 56.5%,
            hsla(0, 0%, 0%, 0.194) 65%,
            hsla(0, 0%, 0%, 0.126) 73%,
            hsla(0, 0%, 0%, 0.075) 80.2%,
            hsla(0, 0%, 0%, 0.042) 86.1%,
            hsla(0, 0%, 0%, 0.021) 91%,
            hsla(0, 0%, 0%, 0.008) 95.2%,
            hsla(0, 0%, 0%, 0.002) 98.2%,
            hsla(0, 0%, 0%, 0) 100%);
    left: 100%;
}

.right:hover::before {
    left: 20%;
}


.icon {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0, .92, .87, 1), opacity 0.3s ease-in-out;
}

.hide {
    opacity: 0;
    transform: translateY(-50%);
}

.display {
    opacity: 1;
    transform: translateY(0);
}

/* .icon {
    font-size: 0.75rem;
    aspect-ratio: 1/1;
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0, .92, .87, 1), opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-50%); */

.icon svg {
    font-size: 2.5rem;
}

.icon span {
    font-size: 0.8rem;
    color: #00C6BC;
}


.techContainer {
    grid-area: tech;
    padding: 0px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.infoContainer {
    grid-area: info;
    display: flex;
    align-items: center;
    text-align: left;
}

.infoContent {
    border-left: 1px solid #e2f1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    height: 75%;
    width: fit-content;
    padding: 0px 10px;
}

.infoContent span {
    transition: transform 0.4s cubic-bezier(0, .92, .87, 1), opacity 0.3s ease-in-out;
}

@media screen and (max-width: 1920px) {
    .infoContent {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1100px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .techContainer {
        flex-direction: row;
        margin: 25px 0px;
    }
}

@media screen and (max-width: 620px) {

    .icon span {
        font-size: 0.7rem;
        color: #00C6BC;
    }

    .techContainer .icon {
        font-size: 0.5rem !important;
    }
}