.skillsContainer {
    background-color: black;
    height: 25vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.itemsContainer {
    background-color: green;
    display: grid;
    align-items: center;
    justify-items: center;
}

.itemsContainer span {
    opacity: 0.5;
    display: block;
    margin: 10px 0px;
    padding: 5px 30px;
    border: 1px solid red;
    transition: opacity 0.3s ease-out;
}

.itemsContainer span:hover {
    opacity: 1;
}

.iconsContainer {
    display: grid;
    background-color: blue;
    align-items: center;
    justify-items: center;
}

.rows {
    opacity: 0.5;
    color: white;
    display: flex;
    column-gap: 5px;
    padding: 3px 15px;
    transition: opacity 0.3s ease-out;
}

.firstRow {
    border: 1px solid red;
}

.secondRow {
    border: 1px solid white;
}

.thirdRow {
    border: 1px solid green;
}

.highlight {
    opacity: 1;
}