.App {
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: fit-content;
    position: relative;
}

.App-bg-color {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: -2;
}

.App-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(rgba(223, 223, 223, 0.527) 8%, transparent 12%);
    background-position: 0% 0%;
    background-size: 3vmin 3vmin;
    z-index: -1;
    transition: background-position 0.4s ease, background-size 0.4s ease;
}

.hover-bg {
    opacity: 0.5;
    background-size: 2.95vmin 2.95vmin;
}

.App-bg[data-active="1"] {
    background-position: 0% calc(0% - 30x);
}

.App-bg[data-active="2"] {
    background-position: 0% calc(0% - 60px);
}

.App-bg[data-active="3"] {
    background-position: 0% calc(0% - 90px);
}

.App-imgbg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background-image: url("https://picsum.photos/3840/2160?grayscale"); */
    background-position: center 50%;
    background-size: 110vmax;
    z-index: -2;
    opacity: 0.3;
    transition: background-position 0.4s ease, opacity 0.4s ease, background-size 0.4s ease;
}

.hover-imgbg {
    opacity: 0.1;
    background-size: 105vmax;
}

.App-imgbg[data-active="1"] {
    background-position: center 45%;
}

.App-imgbg[data-active="2"] {
    background-position: center 50%;
}

.App-imgbg[data-active="3"] {
    background-position: center 55%;
}