.App {
    height: fit-content;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}

.resume {
    height: 100vh;
}

.contact {
    margin: 2vw 0px;
}